

.Backgroung{
  width: 99.9%;
  background: linear-gradient(#22262A, #19342D);
  display: flex;
  justify-content:space-between;  
}

/* Div a Esquerda */
.Profile{
  border-radius: 10%;
  background: linear-gradient(#BFD0DA,#22262A,#19342D);
  margin-left: 15px;
  margin-top: 50px;
  color:#E9EAEC ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #22262A;
}


.Profile-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;  
}

.Photo-profile{
  width: 150px;
  height: 200px;
  border-radius: 30%;
  margin-bottom: 0%;
}

.Profissao{
  margin-top: 0%;
  font-size:small;
  color:#FEDA15 ;
}

.Profissao:hover{
  color: greenyellow;
}


.Profile-contact{
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Redes{
  width: 25px;
  opacity: 70%;
}

.Redes:hover{
  opacity: 100%;
  width: 32px;
}

.Certificate{
  width: 80px;
  margin-top: 40px;
  margin-left: 15px;
  opacity: 60%;
}

.Certificate:hover{
  opacity: 100%;
  transition: 1.2s;
}

.CertificateSize{
  width: 150px;
  transition: 1.3s;
}
.CertificateSize:hover{
  width: 160px;
}

/* Div a Direita */

.Content{
  margin-top: 30px;
  width: 75%; 
}

.Content-principal{
  border-radius: 20px;
  background: linear-gradient(#19342D,#BFD0DA);
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 500px;
}

.Content-left{ 
  margin-top: 20px;
  margin-left: 20px;
  width: 10%;
  color: #fff;
}
.Folder {
  margin-top: 0%;
  height: 40px;
  
}


.Content-left > p {
  margin-top: 0%;
}

.Folder:hover{
  height: 50px;
}

.Content-dynamic{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  width: 80%;
  color: #fff;
  background-color: #000;
  overflow-y:scroll;
}

.Header{
  position:static fixed;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 30px;
  color: #000;
}
.CmdIcon, .Header_text{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-right: 2px;
  width: 20px;
}

.Rotas{
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 40px 40px;
}

.List{
  height: 230px;
}

.Skills{
  margin: 10px 5px;
  background-color: #F1DAAD;
  color: #814827;
  height: 60px;
}

.Skills:hover{
  margin-top: 0%;
  height: 70px;
}






